.container{
      background-color: orange;
      border: black solid 3px;
      border-radius: 20px;
      text-align: center;
}
.img-quien-soy{
      width: 200px;
      height: 400;
      border-radius: 100%;
      border: black solid 3px;
}
p{
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      font-style: oblique;
      line-height: 50px;

}
.descripcion-juego{
      background-color: rgb(197, 130, 5);
      border-radius: 20px;
}