<div class="container m-4 p-4">
      <div class="datos-personales">
            <h1>Maximiliano Fernandez</h1>
            <h2>4°B TN</h2>
      </div>
      <div class="m-3">
            <img class="img-quien-soy" src="../../assets/foto1.jpg" alt="Maximiliano Fernandez">
      </div>
      <div class="descripcion-juego m-3">
            <p>Juego de memoria de un unico jugador. <br> El objetivo es encontrar todos los pares de iconos<br> o imagenes iguales en un tablero de n x n (n dependiendo de la dificultad del nivel). <br>Tendran un tiempo para hallar todos los pares. Finalizado el tiempo, el jugador pierde.<br> El jugador que llegue al nivel mas alto será el ganador!</p>
      </div>
</div>