<app-navbar></app-navbar>
<div class="container mt-3">
      <div class="datos-personales">
            <h1>Maximiliano Fernandez</h1>
            <h2>4°B TN</h2>
      </div>
      <div class="m-3">
            <img class="img-quien-soy" src="../../assets/foto1.jpg" alt="Maximiliano Fernandez">
      </div>
      <div class="descripcion-juego m-3">
            <p>Juego busqueda del tesoro<br>El objetivo es encontrar el tesoro oculto en una imagen<br> Al clickear sobre la misma, se dan pistas sobre si esta cerca del tesoro, o lejos. <br>Se contara la cantidad de veces clickeadas<br>El objetivo es encontrar el tesoro en la menor cantidad de clicks posibles</p>
      </div>
</div>