<app-navbar></app-navbar>
  <main class="container-fluid">
    <div class="col-12 m-3">
            <button #buttonSave class="btn btn-warning" (click)="save()">Guardar Resultado Obtenido</button>
          </div>
          <div class="col-12 m-3">
            <button #buttonSave class="btn btn-danger" (click)="reset()">Reiniciar</button>
          </div>
      <div class="row" id="app">
        
          <div class="col-12 text-center">
            <h3 class="">Oprima "Iniciar" para generar la palabra </h3>
              <h1 class="text-success">Ahorcado </h1>
                <div #asHangman class="col-12 text-center" >
                    <h3 class="displayed-word">Palabra: 0</h3>
                </div>
              
              <p #p class="h4 text-danger">Intentos: 0</p>
              <br>
              <img class="img-fluid" src="../../../assets/Ahorcado-0.png" alt="">
          </div>
          <div class="col-12 text-center" >
              <button  *ngFor="let letter of letters" (click)="letterPress($event,letter)" class="btn btn-success m-1 btn-lg">{{letter}}</button>
          </div>
          <br>
          <div class="col-12 text-center">
            <button class="btn btn-info" (click)="init()">Iniciar</button>
          </div>
          
          
      </div>
      
  </main>
