<div class="principal">
	<div #asContainer class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#">
				<h1>Crear Cuenta</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div> 
				<span>o usa tu mail para registrarse</span>
				<input type="text" placeholder="Nombre" />
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Contraseña" />
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>o use su cuenta</span>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Contraseña" />
				<a href="#">Olvidaste la contraseña?</a>
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Bienvenido!</h1>
					<p>Inicie sesión con su informacion personal</p>
					<button class="ghost" id="signIn" (click)="signIn()">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hola, amigo!</h1>
					<p>Primer paso! Cree una cuenta con sus datos personales</p>
					<button class="ghost" id="signUp" (click)="signUp()">Sign Up</button>
				</div>
			</div>
		</div>
	</div>	
</div>
