/* You can add global styles to this file, and also import other style files */
body{
      background: #8A2387; 
      background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  
      background: linear-gradient(to left, #F27121, #E94057, #8A2387); 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;

}